.employee-report-filters {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: rgb(247, 247, 247);
    border-radius: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .employee-report-filters .MuiFormControl-root {
    width: 150px; 
    margin-bottom: 5px;
  }
  
  .employee-report-filters .MuiOutlinedInput-notchedOutline {
    border: none;
  }
  
  .employee-report-filters .MuiSelect-root:focus {
    background-color: transparent;
  }
  
  .employee-report-filters .MuiSelect-root {
    width: 100%;
  }
  
  .employee-report-filters .MuiSelect-icon {
    color: inherit;
  }
  .employee-report-filters .MuiInputLabel-root {
    font-weight: bold; 
  }
  .employee-report-filters .MuiOutlinedInput-input {
    padding-top: 8px; 
    padding-bottom: 8px; 
  }
  
  .employee-report-filters .MuiSelect-select {
    padding-top: 8px; 
    padding-bottom: 8px; 
  }
  
  .employee-report-filters .MuiMenuItem-root {
    font-size: 14px;
    
  }
  
  .employee-report-filters .MuiAutocomplete-root {
    width: 180px; 
    
  }
  
  .employee-report-filters .MuiAutocomplete-inputRoot {
    padding-top: 3px; 
    padding-bottom: 3px;
  }
  
  .employee-report-filters .MuiAutocomplete-input {
    padding: 0;
  }
  