
.accept-button,
.reject-button,
.submit-button {
    border: none;
    border-radius: 3px;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.accept-button {
    background-color: #388e3c;
    color: white;
    margin-right: 8px;
}

.reject-button {
    background-color: #d32f2f;
    color: white;
    margin-right: 8px;
}

.submit-button {
    background-color: #2196F3;
    color: white;
}

.accept-button:hover {
    background-color: #388e3c;
}

.reject-button:hover {
    background-color: #d32f2f; 
}

.submit-button:hover {
    background-color: #0c7bb3; 
}

.submit-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.row-disabled {
    opacity: 0.5; 
  }
  
